.contacts__wrapper {
  @media (min-width: $vp-1440) {
    margin: 0 auto;
    max-width: 2000px;
  }
}

.contacts__layout-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet) {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.contacts__form {
  background-color: $color-default-font;
  padding: 62px 25% 62px 15%;

  @media (min-width: $desktop) and (max-width: $vp-1280) {
    padding: 62px 8% 62px 4%;
  }

  @media (max-width: $tablet) {
    padding: 70px 163px 67px 133px;
  }

  @media (max-width: $mobile) {
    padding: 70px 15px 67px;
  }
}

.contacts__form h2 {
  margin: 0;
  padding: 0;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-family: $ff-neue;

  @media (max-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 35px;
  }
}

.contacts__form-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 28px;

  @media (max-width: $tablet) {
    margin-bottom: 30px;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    margin-bottom: 38px;
  }
}

.contacts__form-wrapper li {
  margin: 0;
  padding: 0;
  flex-grow: 1;

  &:not(:last-child) {
    margin-right: 30px;
  }

  @media (max-width: $tablet) {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  @media (max-width: $mobile) {
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 33px;
    }
  }
}

.contacts__form-wrapper input {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 0;
  border-bottom: 1px solid $color-form-border;
  padding-bottom: 5px;
  color: $color-default-white;
  font-size: 14px;
  line-height: 16px;
  font-family: $ff-roboto;

  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    font-family: $ff-roboto;
    color: $color-default-white;
  }
}

.contacts__info {
  padding: 70px 11% 61px 18%;
  border-top: 1px solid $color-form-border;
  width: 100%;

  @media (min-width: $desktop) and (max-width: $vp-1365) {
    padding: 70px 8% 61px 7%;
  }

  @media (max-width: $tablet) {
    padding: 70px 179px 63px 133px;
    display: grid;
    justify-content: center;
  }

  @media (max-width: $mobile) {
    padding: 70px 15px 59px;
    justify-content: start;
  }
}

.contacts__info h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  font-family: $ff-neue;
  color: $color-default-font;

  @media (max-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 32px;
  }

  @media (max-width: $mobile) {
    font-size: 32px;
    line-height: 32px;
  }
}

.contacts__info-wrapper h4 {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  color: $color-default-font;
  margin-bottom: 3px;

  @media (max-width: $tablet) {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 4px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 6px;
  }
}

.contacts__info-wrapper address,
.contacts__info-wrapper p,
.contacts__info-wrapper a {
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  color: $color-default-font;

  @media (max-width: $tablet) {
    font-size: 18px;
    line-height: 152.34%;
  }
}

.contacts__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 122px;
  position: relative;

  @media (max-width: $tablet) {
    column-gap: 97px;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    gap: 0;
  }
}

.contacts__address {
  position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   background-color: $color-form-border;
  //   width: 1px;
  //   height: 100%;
  //   right: -36.8%;

  //   @media (max-width: $tablet) {
  //     right: -22.8%;
  //   }

  //   @media (max-width: $mobile) {
  //     display: none;
  //   }
  // }

  @media (max-width: $mobile) {
    margin-bottom: 20px;
  }
}

.contacts__address,
.contacts__data {
  display: grid;
  row-gap: 15px;

  @media (max-width: $tablet) {
    row-gap: 20px;
  }
}

.contacts__line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: $color-form-border;
  margin-left: 48%;

  @media (min-width: $desktop) and (max-width: $vp-1365) {
    margin-left: 42%;
  }

  @media (min-width: $vp-1440)  and (max-width: 1600px) {
    margin-left: 42%;
  }

  @media (min-width: 1601px) and (max-width: $vp-1920) {
    margin-left: 38%;
  }

  @media (min-width: 1921px) and (max-width: 2400px) {
    margin-left: 34%;
  }

  @media (min-width: 2400px) {
    margin-left: 30%;
  }

  @media (max-width: $tablet) {
    margin-left: 58.4%;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}
